In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
spark = (SparkSession
         .builder
         .appName("PySparkPractice")
         .getOrCreate())

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/12/13 21:29:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
schema = StructType([
    StructField("date", StringType(), True),
    StructField("product", StringType(), True),
    StructField("quantity", IntegerType(), True),
    StructField("unit_price", IntegerType(), True),
    StructField("country", StringType(), True)
])

In [10]:
data = [
    [
        "2023-01-01",
        "Product A",
        10,
        20,
        "USA",
    ],
    [
        "2023-01-02",
        "Product B",
        15,
        25,
        "Canada",
    ],
    [
        "2023-01-03",
        "Product C",
        12,
        30,
        "USA",
    ],
    [
        "2023-01-04",
        "Product A",
        8,
        20,
        "UK",
    ],
    [
        "2023-01-05",
        "Product B",
        20,
        25,
        "Australia"
    ]
]

In [11]:
sales_df = spark.createDataFrame(data=data, schema=schema)

In [12]:
sales_df.show()

+----------+---------+--------+----------+---------+
|      date|  product|quantity|unit_price|  country|
+----------+---------+--------+----------+---------+
|2023-01-01|Product A|      10|        20|      USA|
|2023-01-02|Product B|      15|        25|   Canada|
|2023-01-03|Product C|      12|        30|      USA|
|2023-01-04|Product A|       8|        20|       UK|
|2023-01-05|Product B|      20|        25|Australia|
+----------+---------+--------+----------+---------+

In [14]:
# Data Transformation: Add a new column Total_Sales which is the product of Quantity and Unit_Price.

sales_df = sales_df.withColumn("total_sales", sales_df.quantity * sales_df.unit_price)
sales_df.show()

+----------+---------+--------+----------+---------+-----------+
|      date|  product|quantity|unit_price|  country|total_sales|
+----------+---------+--------+----------+---------+-----------+
|2023-01-01|Product A|      10|        20|      USA|        200|
|2023-01-02|Product B|      15|        25|   Canada|        375|
|2023-01-03|Product C|      12|        30|      USA|        360|
|2023-01-04|Product A|       8|        20|       UK|        160|
|2023-01-05|Product B|      20|        25|Australia|        500|
+----------+---------+--------+----------+---------+-----------+

In [15]:
# Filtering Data: Filter the records to show only those where Quantity is greater than 10.

sales_df.filter(sales_df.quantity >= 10).show()

+----------+---------+--------+----------+---------+-----------+
|      date|  product|quantity|unit_price|  country|total_sales|
+----------+---------+--------+----------+---------+-----------+
|2023-01-01|Product A|      10|        20|      USA|        200|
|2023-01-02|Product B|      15|        25|   Canada|        375|
|2023-01-03|Product C|      12|        30|      USA|        360|
|2023-01-05|Product B|      20|        25|Australia|        500|
+----------+---------+--------+----------+---------+-----------+

In [18]:
# Grouping and Aggregation: Calculate the total sales (Total_Sales) per Product.

sales_df.groupBy("product").sum("total_sales").show()

+---------+----------------+
|  product|sum(total_sales)|
+---------+----------------+
|Product A|             360|
|Product B|             875|
|Product C|             360|
+---------+----------------+